* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: aliceblue;

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px black;

}